<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 3</title>
</head>
<body>
<div class="input_data_for_salon">
    <a>Page add data about Plant</a>
    <form action="/add-plant" name="main_form" method="post">
        <p>Location<br>
        <input type=text  name="location"></p>
        <p>Name Plant<br>
        <textarea name="name_plant"></textarea></p>
        <p>Director ID</p><br>
        <textarea name="director_id"></textarea>
        <p><input type="submit" value="Відправити"></p>
    </form>
</div>
</body>
</html>