<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 2</title>
</head>
<body>
<div class="input_data_for_salon">
    <a>Page add data about Salon</a>
    <form action="/add-salon" name="main_form" method="post">
        <p>Name Salon<br>
            <input type=text  name="name_salon"></p>
        <p>Adress Salon<br>
            <textarea name="adress_salon"></textarea></p>
        <p>Id salon</p>
            <textarea name="id_salon"></textarea></p>
        <p><input type="submit" value="Відправити"></p>
    </form>
</div>
</body>
</html>