<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 4</title>
</head>
<body>
<div class="show_data_about_salon">
    <a href="/head-salon">Back</a><br>
</div>

<div class="container mt-2">
<a>All data about Salon </a><br>
    {% for el in all_data_salon %}

    {% set a = el['name_salon'] %}
    {% set b = el['adress_salon'] %}
    {% set c = el['id_salon'] %}

    <b>{{a}}</b> <br>
    <b>{{b}}</b> <br>
    <b>{{c}}</b> <br>

    <a href="/delete-salon/{{ c }}/del" class="delete salon">Видалити дані</a><br>
    <a href="/update-salon/{{ c }}/up" class="update_salon">Оновити дані</a><br>

    {% endfor %}
</div>
</body>
</html>