<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Employee by Name</title>
</head>
<body>
    <div class="search_employee">
        <form action="/found-employee" name="main_form" method="get">
            <p>Write name Employee</p>
            <p><input type="text" name="name" ></p>
            <p><input type="submit" value="Пошук"></p>
            <p>Write name Email</p>
            <p><input type="text" name="email" ></p>
            <p><input type="submit" value="Пошук"></p>
            <p>Write  Department - Type</p>
            <p><input type="text" name="department_type" ></p>
            <p><input type="submit" value="Пошук"></p>
            <p>Write  Department - ID </p>
            <p><input type="text" name="department_id" ></p>
            <p><input type="submit" value="Пошук"></p>
        </form>
    </div>
</body>
</html>