<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FInd Plant by plant_name</title>
</head>
<body>
    <div class="find_plant_by_name">
    <form action="/found-plant" name="main_form" method="get">
        <p>Write Plant-Name:</p>
        <p><input type="text" name="name_plant"></p>
        <p><input type="submit" value="Пошук"></p>
        <p>Write Location:</p>
        <p><input type="text" name="location"></p>
        <p><input type="submit" value="Пошук"></p>
        <p>Write Directors- ID</p>
        <p><input type="text" name="director_id"></p>
        <p><input type="submit" value="Пошук"></p>
    </form>
</div>
</body>
</html>