<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Salon by salon_name</title>
</head>
<body>
    <div class="find salon_name">
    <form action="/found-salon" name="find_name" method="get">
        <p>Write Salon Namee</p>
        <p><input type="text" name="name_salon"> </p>
        <p><input type="submit" value="Пошук"></p>
        <p>Write Salon adress</p>
        <p><input type="text" name="adress_salon"> </p>
        <p><input type="submit" value="Пошук"></p>
        <p>Write Salon-ID</p>
        <p><input type="text" name="id_salon"> </p>
        <p><input type="submit" value="Пошук"></p>
    </form>
    </div>
</body>
</html>