<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Found Plant-Name</title>
</head>
<body>
<div class="found Plant">
    <a>Yes Data by your Plant: {{ found_name_plant.name_plant }} !<br></a>
    <p> {{ found_name_plant.location }}<br></p>
        {{ found_name_plant.name_plant }}<br>
        {{ found_name_plant.director_id }}
</div>
</body>
</html>