<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Found Salon-Name</title>
</head>
<body>
<div class="Found Salon">
    Yes, Found Data about Salon: {{ found_name_salon.name_salon }} !<br>
    {{ found_name_salon.name_salon }}<br>
    {{ found_name_salon.adress_salon }}<br>
    {{ found_name_salon.id_salon }}<br>
</div>
</body>
</html>