<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Hi, select a command:
    <br>
    <a href="/add-employee">Add data about employee</a><br>
    <br>
    <a href="/data-employee">All data about employee</a><br>
    <br>
    <a href="/">Head Page</a><br>
    <br>
    <a href="/find-employee">Find Employee By Name</a>

</body>
</html>