<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Page</title>
</head>
<body>
<div class="update_data_for_employee">
    <a>Page add data about Plant</a>
    <form method="post">
        <p>Location<br>
        <input type="text" name="location" class="form control" value="{{ update_plant.location }}">
        <p>Name Plant</p><br>
            <textarea name="name_plant">{{ update_plant['name_plant']}}</textarea></p>
        <p><input type="submit" value="Відправити"></p>
    </form>
</div>
</body>
</html>