<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Page</title>
</head>
<body>
    <div class="container one">
    <form method="post">
    <input type="text" name="name_salon" class="form-controls" value="{{update_salon.name_salon }}">
        <p><textarea name="adress_salon">{{update_salon.adress_salon }}></textarea></p>
    <p><input type="submit" value="Update"></p>
    </form>
    </div>
</body>
</html>